.idea/.idea.EFCore/riderModule.iml
.idea/.idea.EFCore/.idea/workspace.xml
.idea/.idea.EFCore/.idea/vcs.xml
.idea/.idea.EFCore/.idea/modules.xml
.idea/.idea.EFCore/.idea/indexLayout.xml
.idea/.idea.EFCore/.idea/dataSources/e5e2223a-af69-43ae-933a-01df1fcf9b9c.xml
.idea/.idea.EFCore/.idea/dataSources/9048a19a-8196-4c03-8a97-8a4fc2dc1b71.xml
.idea/.idea.EFCore/.idea/dataSources.xml
.idea/.idea.EFCore/.idea/dataSources.local.xml
.idea/httpRequests/http-requests-log.http
.idea/httpRequests/2018-05-14T090430.200.json
.idea/.idea.EFCore/.idea/dataSources/9048a19a-8196-4c03-8a97-8a4fc2dc1b71/storage_v2/_src_/database/master.YiqNvw/schema/dbo.sYMBAA.zip
.idea/.idea.EFCore/.idea/dataSources/9048a19a-8196-4c03-8a97-8a4fc2dc1b71/storage_v2/_src_/database/master.YiqNvw/schema/dbo.sYMBAA.meta
.idea/.idea.EFCore/.idea/dataSources/9048a19a-8196-4c03-8a97-8a4fc2dc1b71/storage_v2/_src_/database/master.YiqNvw.meta
.idea/.idea.EFCore/.idea/contentModel.xml
